# Python Basic - Yype, Operator, String, Print

In [1]:
10+10

20

In [2]:
10/10

1.0

In [3]:
10-10

0

In [4]:
print('hello world')

hello world

In [10]:
a=1

In [11]:
print(type(a))

<class 'int'>

In [14]:
a='1'

In [15]:
print(type(a))

<class 'str'>

In [16]:
a=[1,2,3,4,5]

In [17]:
print(type(a))

<class 'list'>

In [18]:
a={'1':1,'2':2,'3':3,'4':4,'5':5}

In [19]:
print(type(a))

<class 'dict'>

In [24]:
#integer
a=1+2+3
print('a = ' + str(a))
a=-10+10+(-30-40)
print(a)

a = 6
-70

In [25]:
#float
a=128.8+38-222.4567
print('a = ' + str(a))
a = 2/3
print('a = ' + str(a))
print(type(a))

a = -55.6567
a = 0.6666666666666666
<class 'float'>

In [26]:
#//소수점 절삭 연산자
a = 10/3
print('a = ' + str(a))
a = 10//3
print('a = ' + str(a))

a = 3.3333333333333335
a = 3

In [1]:
#** 제곱연산자
a = 2**3
print('a = ' + str(a))
a = 3**4
print('a = ' + str(a))

a = 8
a = 81

# 문자열(string)

In [47]:
a = 'hello world'
print('a = ' + a)
a = "hello world"
print('a = ' + a)
a = "hello world"*3
print('a = ' + a)

a = 'hello world'
print('a = ' + a)
a = 'hello world'
print('a[0] = ' + a[0])
print('a[1] = ' + a[1])
print('a[2] = ' + a[2])
print('a[3] = ' + a[3])
print('a[4] = ' + a[4])
print('a[0:5] = ' + a[0:5])

a = hello world
a = hello world
a = hello worldhello worldhello world
a = hello world
a[0] = h
a[1] = e
a[2] = l
a[3] = l
a[4] = o
a[0:5] = hello

In [51]:
date = '20230315'
year = date[0:4]
month = date[4:6]
day = date[6:]
date2 = year + '-' + month + '-' + day
print('Today : ' + date2)
print('string length - Today is ' + str(len(date2)))

Today : 2023-03-15
string length - Today is 10

In [54]:
color = '빨강'
fmt = '나는 %s을 좋아합니다.' % color
print(fmt)
color = '초록'
fmt = '나는 %s을 좋아합니다.' % color
print(fmt)

나는 빨강을 좋아합니다.
나는 초록을 좋아합니다.

In [59]:
kor = 88
eng = 95
math = 97
sum = kor+eng+math
avg = sum/3

fmt = 'sum : %d, avg : %f' %(sum, avg)
result = (sum, avg)
fmt = 'sum : %d, avg : %f' %result
print(fmt)

print('result type -' + str(type(result)))

sum : 280, avg : 93.333333
result type -<class 'tuple'>

# Tuple - (a,b), List - [1,2], Dict - {'a':1}

In [60]:
name = input('input your name : ')
print('name is ' + name)

input your name : hong kil do1ng
name is hong kil do1ng

In [65]:
a = input('input integer value : ')
print('value is ' + a)
b = input('input integer value : ')
print('value is ' + b)
a = int(a)
b = int(b)
print('sum = ' + str(a+b))
print('sub = ' + str(a-b))
print('mul = ' + str(a*b))
print('div = ' + str(a/b))

input integer value : 30
value is 30
input integer value : 40
value is 40
sum = 70
sub = -10
mul = 1200
div = 0.75

In [ ]:
price = int(input('물건 가격:'))
num = int(input('구매 개수:'))
pay = int(input('지불 금액:'))
change = pay - price*num
print('물건 가격 : %d, 구매 개수 : %d, 지불 금액 : %d => 거스름 돈 : %d' + (price, num, pay, change))

In [73]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {0}".format("John", 36)
txt3 = "My name is {}, I'm {}".format("John", 36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm John
My name is John, I'm 36

# Python Logic - if and for...

In [82]:
x = input('input x value : ')
x = int(x)
if x>0 :
    print('positive')
elif x > 10 :
    print('x > 10')
else :
    print('negative')

input x value : 11
positive

In [83]:
a = 5
b = 2
print("{a}>{b} : ".format(a = a, b = b) + str(a>b))
print("{a}<{b} : ".format(a = a, b = b) + str(a<b))
print("{a}=={b} : ".format(a = a, b = b) + str(a==b))
print("{a}!={b} : ".format(a = a, b = b) + str(a!=b))
print("{a}<={b} : ".format(a = a, b = b) + str(a<=b))
print("{a}>={b} : ".format(a = a, b = b) + str(a>=b))

5>2 : True
5<2 : False
5==2 : False
5!=2 : True
5<=2 : False
5>=2 : True

In [2]:
#논리 연산자 & || !=> and or not
kor = 60
eng = 90
comp = kor >= 70 and eng >= 90
print('and type : ' + str(type(comp)) + ', value : ' + str(comp))
comp = kor >= 70 or eng >= 90
print('or type : ' + str(type(comp)) + ', value : ' + str(comp))

comp = kor = 70
print('== type : ' + str(type(comp)) + ', value : ' + str(comp))
comp = not kor == 70
print('not type : ' + str(type(comp)) + ', value : ' + str(comp))

x = 5
comp = not x%2 ==0
print('x%2 == 0 type : '+str(type(comp))+', value : ' + str(comp))
comp = not x%2 == 0
print('not x%2 == 0 type : '+str(type(comp))+', value : ' + str(comp))

and type : <class 'bool'>, value : False
or type : <class 'bool'>, value : True
== type : <class 'int'>, value : 70
not type : <class 'bool'>, value : False
x%2 == 0 type : <class 'bool'>, value : True
not x%2 == 0 type : <class 'bool'>, value : True

In [89]:
num = input('정수를 입력하세요 : ')
num = int(num)
result = '입력된 정수는 100~1000사이에 있지 않습니다!'
if num >= 100 and num <= 1000 :
    result = '입력된 정수는 100~1000사이에 있습니다!'
    
print('입력된 정수 : {}'.format(num) + '입니다.')
print('%s' %result)

정수를 입력하세요 : 90
입력된 정수 : 90입니다.
입력된 정수는 100~1000사이에 있지 않습니다!

In [90]:
char = input('영어 소문자 하나를 입력하세요:')
if(char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u') :
    print('%s -> 모음' %char)
else :
    print('%s -> 자음' %char)

영어 소문자 하나를 입력하세요:t
t -> 자음

In [96]:
month = int(input('월을 입력해주세요:'))

if month >= 3 and month <= 5 :
    season = '봄'
    print(month, '월은',season,'입니다',sep='')
    
elif month >= 6 and month <= 8 :
    season = '여름'
    print(month, '월은',season,'입니다',sep='')
    
elif month >= 9 and month <= 11 :
    season = '가을'
    print(month, '월은',season,'입니다',sep='')

elif month == 12 or month == 1 or month ==2:
    season = '겨울'
    print(month, '월은',season,'입니다',sep='')

월을 입력해주세요:2
2월은겨울입니다

In [97]:
for x in range(5):
    print('안녕하세요!')

안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!
안녕하세요!

# 반복문 ... for, while

In [11]:
cnt = 5
for i in range(cnt): #for(i = 0; i<cnt(5); i++)
    print('[{}]hello world'.format(i))

for x in range(2,6): #start, finish
    print(x)
print('==='*10)


print('==='*10)
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)
    if fruit == 'banana':
        continue #break
    print(fruit)
    
print('==='*10)
for x in fruits :
    for y in fruits:
        print(x,y)
        
print('==='*10)
for x in [0,1,2,3,4,5,6]:
    print(x)

[0]hello world
[1]hello world
[2]hello world
[3]hello world
[4]hello world
2
3
4
5
==============================
==============================
apple
apple
banana
cherry
cherry
==============================
apple apple
apple banana
apple cherry
banana apple
banana banana
banana cherry
cherry apple
cherry banana
cherry cherry
==============================
0
1
2
3
4
5
6

# 구구단

In [123]:
cnt = 10
for i in range(1,cnt,1):
    line = ''
    for j in range(2,cnt,1):
        line += '{} X {} = {}\t'.format(j,i,i*j)
    print(line)

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [119]:
for i in range(1,100,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97

# List

In [12]:
color = ['red', 'green', 'blue', 'black', 'white']
print(color)
print(type(color))
print(color[0])
print(color[1])
print(color[1:4])
print(type(color[1:4]))
print('==='*10)
nums = list(range(1,21,2))
print(nums)
print(nums[3:7])
for x in nums:
    print(x)
print('==='*10)
    
animals = ['사자', '호랑이', '원숭이', '곰', '사슴']
i = 0;
while i < len(animals):
    print(animals[i])
    i = i + 1
print('==='*10)

flower = ['무궁화', '장미', '개나리']
print(flower)
flower.append('벚꽃')
print(flower)
flower.remove('장미')
print(flower)

['red', 'green', 'blue', 'black', 'white']
<class 'list'>
red
green
['green', 'blue', 'black']
<class 'list'>
==============================
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[7, 9, 11, 13]
1
3
5
7
9
11
13
15
17
19
==============================
사자
호랑이
원숭이
곰
사슴
==============================
['무궁화', '장미', '개나리']
['무궁화', '장미', '개나리', '벚꽃']
['무궁화', '개나리', '벚꽃']

In [142]:
scores = []
while True:
    x = int(input('성적을 입력하세요(종료 시 -1 입력):'))
    if x == -1:
        break
    else:
        scores.append(x)

sum = 0

for score in scores:
    sum = sum + score
avg = sum / len(scores)
print('합계 : %d, 평균 : %.2f' %(sum, avg))

성적을 입력하세요(종료 시 -1 입력):1
성적을 입력하세요(종료 시 -1 입력):4
성적을 입력하세요(종료 시 -1 입력):6
성적을 입력하세요(종료 시 -1 입력):7
성적을 입력하세요(종료 시 -1 입력):8
성적을 입력하세요(종료 시 -1 입력):9
성적을 입력하세요(종료 시 -1 입력):-1
합계 : 35, 평균 : 5.83

In [143]:
fruit = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
newlist = [x for x in fruits]
newlist = [x for x in fruits if 'a' in x]

print(newlist)

['apple', 'banana']

In [13]:
numbers = [ [1,2,3, 10],[4,5,6, 10],[7,8,9, 10] ]
print(numbers)
print(type(numbers))

i_len = len(numbers)
j_len = len(numbers[i])
print('row_length : ' + str(i_len))
print('col_length : ' + str(j_len))
for i in range(len(numbers)):
    for j in range(len(numbers[i])):
        print('numbers[{}][{}]={}'.format(i, j, numbers[i][j]))

[[1, 2, 3, 10], [4, 5, 6, 10], [7, 8, 9, 10]]
<class 'list'>
row_length : 3

NameError: name 'j_len' is not defined

In [9]:
scores=[
    [75,83,90],
    [86,86,73],
    [76,95,83],
    [89,96,69],
    [89,76,93],
]
print(scores)

row_len = len(scores)
col_len = len(scores[i])
print('row_length : ' + str(row_len))
print('col_length : ' + str(col_len))

for row in range(len(scores)):
    sum = 0
    avg = 0.0
    for col in range(len(scores[row])):
        sum = sum + scores[row][col]
    avg = sum / len(scores[row])
    print('{}번째 학생의 점수 합계 : {}, 평균 : {:.2f}'.format(row+1, sum, avg))

[[75, 83, 90], [86, 86, 73], [76, 95, 83], [89, 96, 69], [89, 76, 93]]

NameError: name 'i' is not defined

# Function

In [163]:
def hello(name):
    print('{} : This is hello function'.format(name))

In [167]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
for x in fruits:
    hello(x)

apple : This is hello function
banana : This is hello function
cherry : This is hello function
kiwi : This is hello function
mango : This is hello function

In [168]:
def sum(a,b):
    return a+b

In [169]:
sum(10,10)

20

In [7]:
def calc(a,b):
    sum = a+b
    avg = sum/2
    return sum, avg

In [8]:
ret = calc(10,10)
print(ret)
print(type(ret))

(20, 10.0)
<class 'tuple'>

In [178]:
def sum(start,end):
    hap = 0
    for i in range(start, end+1):
        hap = hap + i
    return hap

In [179]:
start = 1
end = 10
hap = sum(start,end)
print('%d~%d의 정수의 합계 : %d' %(start, end, hap))
#print('{}~{}의 정수의 합계 : {}'.format(start,end,hap))
sum(1,10)
sum(100,200)
sum(200,201)

1~10의 정수의 합계 : 55

401

# File I/O

In [180]:
file = open('sample.txt', 'w')
file.write('안녕하세요. KCCI 수업 중 입니다.')
file.close()
print('sample.txt 파일쓰기 완료')

sample.txt 파일쓰기 완료

In [181]:
scores=['안소영 97 80 93 97 93',
       '정예린 86 100 93 86 90',
       '김세린 91 88 99 79 92',
       '연수정 86 100 93 89 92',
       '박지아 80 100 95 89 90']
data = ''
for item in scores:
    data = data + item + '\n'
    print(data)
    
file = open('scores.txt', 'w')
file.write(data)
file.close()

안소영 97 80 93 97 93

안소영 97 80 93 97 93
정예린 86 100 93 86 90

안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88 99 79 92

안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88 99 79 92
연수정 86 100 93 89 92

안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88 99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90

In [183]:
file = open('scores.txt', 'r')
lines = file.readlines()
print(type(lines))
print(lines)
for line in lines:
    print(line, end = '')
file.close()

<class 'list'>
['안소영 97 80 93 97 93\n', '정예린 86 100 93 86 90\n', '김세린 91 88 99 79 92\n', '연수정 86 100 93 89 92\n', '박지아 80 100 95 89 90\n']
안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88 99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90

# Class

class [className]:
    변수 a
    변수 b
    ...
    def method1():
        문장1
        문장2
        ...
    def method2():
        문장1
        문장2
        ...

In [14]:
class Fruit:
    name='orange'
    color='yellow'
    
    def taste(self):
        print('새콤하다')
    def vitamin(self):
        print('비타민C가 풍부하다')

In [16]:
orange = Fruit()
print(orange)
print(type(orange))

print('과일명 : {}'.format(orange.name))
print('색상 : {}'.format(orange.color))
orange.taste()
orange.vitamin()

<__main__.Fruit object at 0x0000025B6372E880>
<class '__main__.Fruit'>
과일명 : orange
색상 : yellow
새콤하다
비타민C가 풍부하다

//c/c++ programming
class CParent
{
    int a = 10;
    int b = 20;
    //생성자
    CParent(){cout<<"ctor"<<endl;}
    //사용자 정의 생성자
    CParent(int a,int b)
    {
        this.a = a;
        this.b = b;
        cout<<"ctor"<<endl;
    }
    void Age(this){}
    ~CParent(){cout<<"dtor"<<endl;}
}

In [20]:
class Circle:
    radius=10
    def getArea(self):
        area = 3.141592*self.radius*self.radius
        return area
    
    def getCircum(self):
        circum = 2*3.141592*self.radius
        return circum
cir = Circle()

print('반지름 : %d' %cir.radius)
print('원의 면적 : %.2f' %cir.getArea())
print('원주의 길이 : %.2f' %cir.getCircum())

반지름 : 10
원의 면적 : 314.16
원주의 길이 : 62.83

In [ ]:
print('radius : {}'.format(cir.radius))

In [ ]:
print('circle area : {:0.2f}'.format(cir.getArea))

In [ ]:
print('circle circum : {:0.2f}'.format(cir.getCircum))

In [25]:
class Student:
    name = '황재호'
    kor=80
    eng=90
    math=100
    def getSum(self):
        sum = self.kor+self.eng+self.math
        return sum
    def getAvg(self):
        avg = self.getSum()/3
        return avg

In [26]:
st = Student()
print('student name : {}'.format(st.name))
print('student kor : {}'.format(st.kor))
print('student eng : {}'.format(st.eng))
print('student math : {}'.format(st.math))
print('student sum : {}'.format(st.getSum()))
print('student avg : {}'.format(st.getAvg()))

student name : 황재호
student kor : 80
student eng : 90
student math : 100
student sum : 270
student avg : 90.0

In [27]:
#class 생성자
class Student:
    name = '황재호'
    kor=80
    eng=90
    math=100
    
    def __init__(self, name='황재호', kor=80, eng=90, math=100):
        #코드작성
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
        
    def getSum(self):
        sum = self.kor+self.eng+self.math
        return sum
    def getAvg(self):
        avg = self.getSum()/3
        return avg

In [28]:
st = Student()
print('student name : {}'.format(st.name))
print('student kor : {}'.format(st.kor))
print('student eng : {}'.format(st.eng))
print('student math : {}'.format(st.math))
print('student sum : {}'.format(st.getSum()))
print('student avg : {}'.format(st.getAvg()))

student name : 황재호
student kor : 80
student eng : 90
student math : 100
student sum : 270
student avg : 90.0